@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

$header-size: 50px;
$header-margin: 0.5rem;
$container-margin: 0.5rem;
$container-size: calc(100% - #{$header-size} - #{$header-margin} - #{$container-margin});

body {
  height: 100vh;
}

.page-title {
  height: 50px;
  text-align: center;
}

.main-container {
  & {
    display: flex;
    flex-direction: column;
    height: $container-size;
    // background-color: #338F38;
  }
}

.create-new-task-button {}

.tasks-list {}

ul {
  background-color: white;
  list-style-type: none;
}

.task-name-input {
  & {
    width: 100%;
    border-width: 0px;
    border-style: unset;
    border-color: unset;
    border-bottom: 1px lightgrey solid;
  }

  &:focus {
    outline: none;
  }
}

.task-item {
  & {
    padding: 0.25rem 0;
    width: 100%;
  }

  &__text {
    & {
      border-width: 0px;
      border-style: unset;
      border-color: unset;
      border-bottom: 1px lightgrey solid;
    }

    &:focus {
      outline: none;

    }

    &_done {
      text-decoration: line-through;
      color: lightgrey;
    }
  }
}

.checkbox-round {
  & {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 1.5em;
    height: 1.5em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
  }

  &:checked {
    background-color: #3bbd41;
    border: 1px #338F38 solid;
  }
}

// .filter-button {
//   & {}

//   &__dropdown {
    
//   }
// }
